.orange {
  background-color: #ff5900d2;
}

.App {
  margin: 0;
  grid-template-columns: repeat(2, 1fr);  
}

.calculator {
 padding: 2%;
}

.calculator button {
  cursor: pointer;
}

.result {
  text-align: end;
  background: #a4a1a0;
  padding: 0.7em;
  color: azure;
  font-size: 1.4em;
}

.grid {
  display: grid;
}

.key-container {
  grid-template-columns: repeat(4, 1fr);
}

.key-row {
  cursor: pointer;
  padding: 2em 1em;
  border: solid 0.5px #a4a1a0;
}

.key-row:hover {
  background: #4864c1;
}

#ceroKey {
  grid-column: span 2;
}
