#root {
  padding: 1% 3%;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:
      -apple-system,
      BlinkMacSystemFont,
      'Segoe UI',
      'Roboto',
      'Oxygen',
      'Ubuntu',
      'Cantarell',
      'Fira Sans',
      'Droid Sans',
      'Helvetica Neue',
      sans-serif;
    font-size: 1.2rem;
    font-weight: 600;
    line-height: 1.5;
  }
  
  img,
  video,
  svg {
    max-width: 100%;
    display: block;
  }